.home-container {
    padding: 20px 10px;
    font-size: 22px;
    background-color: #FFF;
    border: 1px solid red;
}

.home-top-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #00285F;
    margin-bottom: 20px;
    border: 1px solid green;
}

.home-top-card img {
    width: 80%;
}

.home-top-card h2 {
    color: #FFF;
    margin-bottom: 10px;
    font-size: 1em;
}

.home-top-card p {
    color: #FFF;
    font-size: 0.6em;
}

.home-bottom-card {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background: #9A9A9A;
    border: 1px solid blue;
}

.home-bottom-card button {
    width: 80%;
    text-transform: uppercase;
    background-color: #00285F;
}

.home-bottom-card p {
    color: #585858;
    font-size: 0.8em;
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .home-container {
        font-size: 32px;
    }

    .home-bottom-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .home-bottom-card p {
        margin-bottom: 0;
        font-size: 0.6em;
    }

    .home-bottom-card button {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .home-top-card img {
        width: 50%;
    }

    .home-bottom-card {
        padding-left: 85px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .home-bottom-card button {
        width: 20%;
    }

    .home-bottom-card p {
        margin-left: 20px;
    }
}

@media (min-width: 1200px) {
    .home-container {
        padding: 30px 150px;
        font-size: 42px;
    }
    .home-top-card {
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    .home-top-card img {
        width: 50%;
        margin-left: 60px;
    }

    .home-top-card h2 {
        text-align: left;
        font-size: 35px;
    }

    .home-top-card p {
        text-align: left;
    }

    .home-bottom-card button {
        width: 180px;
    }
}